<footer class="footer">
  <div class="menu-items">
    <div class="footer__menu-list">

      <!-- left menu -->
      <ul class="footer__menu-list_color">
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Como funciona</a></li>
        <li><a href="#">FAQ's</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>

    <!-- right menu-->
    <div class="footer__menu-list">
      <ul>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/cadastro">Cadastro</a>
        </li>
        <li><a href="#">Termos de Uso</a></li>
        <li><a href="#">Privacidade</a></li>
      </ul>
    </div>
  </div>
  
    <!-- footer image -->
  <div class="footer__image"></div>
</footer>