<section class="login-page">
    <div class="login">
        <h1 class="login__title">Entrar</h1>
        <form 
            class="form"
            #loginForm="ngForm"
            (ngSubmit)="onSubmit(loginForm)">
            <div class="login__inputs">
                <input 
                    class="login__inputs_size"
                    type="email" 
                    placeholder="E-mail" 
                    id="email" 
                    required="true"
                />
                <input 
                    class="login__inputs_size"
                    type="password" 
                    isPassword="true" 
                    placeholder="Senha" 
                    id="senha"
                    required="true" 
                />
                <a href="#" class="forgot-password">Esqueceu a senha?</a>
            </div>

                <app-button [theFormIsValid]="loginForm.valid" value="Entrar" class="login__btn">Entrar</app-button>
            </form>
        <a href="/cadastro" 
            class="anchor-signin login-link">Não tem uma conta? Cadastre-se</a>
    </div>
    <div class="footer__pages"></div>
</section>
