<section class="login-page">
    <div class="login">
        <h1 class="login__title">Entrar</h1>
        <form 
            (ngSubmit)="onSubmit()"
            class="form"
            [formGroup]="myForm">
            <div class="login__inputs">
                <input 
                    class="login__inputs_size"
                    type="email" 
                    placeholder="E-mail" 
                    id="email" 
                    required="true"
                    formControlName='email'
                />
                <span class="input-error" *ngIf='email.invalid && email.touched'>*Insira um e-mail válido</span>
                <input 
                    class="login__inputs_size"
                    type="password" 
                    placeholder="Senha" 
                    id="senha"
                    required="true" 
                    formControlName='password'
                />
                <span class="input-error" *ngIf='password.invalid && password.touched'>*Campo obrigatório</span>
                <a href="#" class="forgot-password">Esqueceu a senha?</a>
            </div>
                <app-button value="Entrar">Entrar</app-button>
            </form>
        <a href="/cadastro" class="anchor-signin login-link">Não tem uma conta? Cadastre-se</a>
    </div>
    <div class="footer__pages"></div>
</section>
