<!-- O ideal seria adicionar classes de forma dinâmica, mas por motivos de MPV, esse layout é estático -->

<section class="section-cards">
  <!-- left card -->
  <div class="cards cards_left">
    <h2 class="cards__title">Mussum ipsum cacilds
    </h2>
    <div class="cards__fingerprint-img">
      <img src="./../../../assets/img/fingerprint.png" alt="Imagem de uma digital branca">
    </div>
    <p>
      Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia
    </p>
    <a href="#" class="btn cards__btn">Saiba mais</a>
    <div class="cards__footer"></div>
  </div>

  <!-- center card -->
  <div class="cards cards_center">
    <h2 class="cards__title">Mussum ipsum cacilds
    </h2>
    <div class="cards__fingerprint-img">
      <img src="./../../../assets/img/fingerprint.png" alt="Imagem de uma digital branca">
    </div>
    <p>
      Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia
    </p>
    <a href="#" class="btn cards__btn">Saiba mais</a>
    <div class="cards__footer"></div>
  </div>

  <!-- right card -->
  <div class="cards cards_right">
    <h2 class="cards__title">Mussum ipsum cacilds
    </h2>
    <div class="cards__fingerprint-img">
      <img src="./../../../assets/img/fingerprint.png" alt="Imagem de uma digital branca">
    </div>
    <p>
      Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia
    </p>
    <a href="#" class="btn cards__btn">Saiba mais</a>
    <div class="cards__footer"></div>
  </div>
</section>